<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Instance List</title>
  <link rel="stylesheet" href="../views/style.css">
</head>
<header style="text-align:center; padding: 20px; border-bottom: 1px solid #ffffff;">
  <h1>Library</h1>
  <nav style="margin-top: 10px;">
    <a href="../views/books.html">Books</a> 
    <a href="../views/authors.html">Authors</a> 
    <a href="../views/genres.html">Genres</a> 
    <a href="../views/bookinstances.html">Bookinstances</a>
  </nav>
</header>
<body>
  <h1>Book Instances List</h1>
  <button id="createBookInstanceButton">Create New Book Instance</button>
  <div id="bookInstanceContainer"></div>
  <script src="../scripts/bookinstance-script.js"></script>
</body>
</html>